<div class="row">
    <div class="col s6 m6 mt3">
      <div class="card cyan darken-1">
        <div class="card-content white-text">
          <span class="card-title">Name: <%= @student.name %></span>
          <p>email: <%= @student.email %></p>
          <p>Course Enrollments: None</p>
        </div>
      </div>
      <% if current_user == @student %>
        <%= link_to '<i class="material-icons right">build right</i>Edit your profile'.html_safe, edit_student_path(@student), class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
</div>