%h1 Course listing
%ul
  %li Code: CS111
  %li Name: Intro to Computer Science
  %li Description: A thorough introduction to Computer Science
%ul
  %li Code: CS112
  %li Name: Further Computer Science
  %li Description: Next steps in Computer Science, an introduction to Algorithms