.row
  .col.s12
    %h3.center-align Course Listing
.row
  .col.s6.m6
    .card.blue-grey
      .card-content.white-text
        %span.card-title CS111: Intro to Computer Science
        %p
          A thorough introduction to Computer Science
      .card-action
        %a{:href => "#"} Details
        %a{:href => "#"} Enroll
  .col.s6.m6
    .card.blue-grey
      .card-content.white-text
        %span.card-title CS112: Further Computer Science
        %p
          Next steps in Computer Science, an introduction to Algorithms
      .card-action
        %a{:href => "#"} Details
        %a{:href => "#"} Enroll
.row
  .col.s6.m6
    .card.blue-grey
      .card-content.white-text
        %span.card-title CS113: Sock sorting with Bubble Sort
        %p
          Real world examples for CS Algorithms. From sock sorting to library managment.
      .card-action
        %a{:href => "#"} Details
        %a{:href => "#"} Enroll
  .col.s6.m6
    .card.blue-grey
      .card-content.white-text
        %span.card-title CS114: Introduction to Big O Notation
        %p
          This will prepare you well for the dreaded whiteboard test
      .card-action
        %a{:href => "#"} Details
        %a{:href => "#"} Enroll
