
<!-- Dropdown Structure for main menu
-->
<ul class="dropdown-content" id="dropdown1">
  <li>
    <a href="#!">one</a>
  </li>
  <li>
    <a href="#!">two</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#!">three</a>
  </li>
</ul>
<!-- Dropdown Structure for burger menu
-->
<ul class="dropdown-content" id="dropdown2">
  <li>
    <a href="#!">one</a>
  </li>
  <li>
    <a href="#!">two</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#!">three</a>
  </li>
</ul>
<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a class="brand-logo right" href="#">Whatapalaver Institute</a>
      <a class="sidenav-trigger" data-target="mobile-demo" href="#">
        <i class="material-icons">menu</i>
      </a>
      <ul class="left hide-on-med-and-down" id="nav-mobile">
        <li>
          <a href="#">Courses</a>
        </li>
        <li>
          <a href="#">Enrollment</a>
        </li>
        <!-- Dropdown Trigger
        -->
        <li>
          <a class="dropdown-trigger" data-target="dropdown1" href="#!">
            Account
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Layout for burger menu       
    -->
    <ul class="sidenav" id="mobile-demo">
      <li>
        <a href="#">Courses</a>
      </li>
      <li>
        <a href="#">Enrollment</a>
      </li>
      <li>
        <a class="dropdown-trigger" data-target="dropdown2" href="#!">
          Account
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

